@{
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    ViewBag.Title = "Group Ledger Report";
    var CompanyId = ViewBag.CompanyId;
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var Companies = jss.Serialize(ViewBag.Companies);
    var count = ViewBag.CompanyCount;
}

@*<link href="~/Content/customStyle.css" rel="stylesheet" />*@
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/knockout-date-bindings.js"></script>
<script src="~/Scripts/numeral.min.js"></script>
<script>
    var userCompanyId = parseInt(@CompanyId);
    var Companies = JSON.parse('@Html.Raw(Companies)');
</script>
<script src="~/Areas/Accounts/Scripts/ReportAccount/groupLedger.js"></script>
<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />

<style>
    .form-control {
        width: 100% !important;
    }

    .btnLarge {
        width: 140px !important;
    }

    .input-group-addon {
        padding: 0 5px;
    }

    .rm {
        background-color: #F8F8F8;
        border-radius: 0px 0px 0px 0px !important;
    }
</style>

<section class="rm">
    <div class="panel-body">
        <div class="container-fluid">
            <fieldset>
                <div class="row">
                    <!---vvvvvvv----Body Main Starts here---vvvvvv----->
                    <div class="col-sm-12">

                        <div id="rptGroupLedger" class="row ">

                            <div class="col-sm-12">
                                <section class="panel bodycontent">
                                    <br />
                                    <div class="body-main-padding">
                                        @if (count > 1)
                                        {
                                            <div class="row">
                                                <div class="form-group formstyle">
                                                    <label class="control-label col-sm-2 col-sm-offset-1">Company</label>
                                                    <div class="col-sm-3">
                                                        <select data-bind="options: CompanyList, value: CompanyProfileId, optionsValue:'Id', optionsText: 'Name', optionsCaption: 'Choose one...', valueUpdate: 'keyup'" class="form-control"></select>
                                                    </div>

                                                </div>
                                            </div>
                                        }
                                        <div class="row">
                                            <div class="form-group formstyle">
                                                <label class="control-label col-sm-2 col-sm-offset-1">Account Group</label>
                                                <div class="col-sm-3">
                                                    <select data-bind="options: AccountGroups, value: AccGroupId,optionsValue:'Id',optionsText: 'Name',optionsCaption: '...Choose Account Group...',event:{ change: getAccGroupCode}, valueUpdate: 'keyup'"
                                                            class="form-control"></select>
                                                </div>
                                                <label class="control-label col-sm-2">Account Sub Group</label>
                                                <div class="col-sm-3">
                                                    <select data-bind="options: AccountSubGroups, value: AccSubGroupId,optionsValue:'Id',optionsText: 'name',optionsCaption: 'Choose one...',event:{ change: getAccSubGroupCode}, valueUpdate: 'keyup'"
                                                            class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group formstyle">
                                                <label class="control-label col-sm-2 col-sm-offset-1">Account Head Group</label>
                                                <div class="col-sm-3">
                                                    <select data-bind="options: AccountHeadGroups, value: AccHeadGroupId,optionsValue:'Id',optionsText: 'name',optionsCaption: 'Choose one...',event:{ change: getAccHeadGroupCode}, valueUpdate: 'keyup'"
                                                            class="form-control"></select>
                                                </div>
                                                <label class="control-label col-sm-2">Account Head Sub Group</label>
                                                <div class="col-sm-3">
                                                    <select data-bind="options: AccountHeadSubGroups, value: AccHeadSubGroupId,optionsValue:'Id',optionsText: 'name',optionsCaption: 'Choose one...',event:{ change: getAccHeadSubGroupCode}, valueUpdate: 'keyup'"
                                                            class=" form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        @*<div class="form-group formstyle">

                        <label class="col-sm-1">Account Head</label>
                        <div class="col-sm-3">
                            <select data-bind="options: accountHeads, value: AccountHeadCode,
                                     optionsValue:'AccHeads',
                                    optionsText: 'name',
                                    optionsCaption: 'Choose one...'" class=" form-control"></select>
                        </div>

                    </div>*@
                                        <div class="row">
                                            <div class="form-group formstyle">
                                                <label class="control-label col-sm-2 col-sm-offset-1">From Date</label>
                                                <div class="col-sm-2">
                                                    <input type="date" data-bind="value:FromDate, valueUpdate: 'keyup'" class="form-control">
                                                </div>

                                                <label class="control-label col-sm-2 col-sm-offset-1">To Date</label>
                                                <div class="col-sm-2">
                                                    <input type="date" data-bind="value:ToDate, valueUpdate: 'keyup'" class="form-control">
                                                </div>

                                                <div class="col-sm-2">
                                                    <button type="submit" data-bind="click:getReportLedgerList" class="btn btn-deepgreen">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </section>
                                <div class="row">
                                    <div class="col-sm-12">
                                    <div class="form-group row row_design" style="margin: 2px 30px;" align="right">

                                        <div class="PrintReport">
                                            <div class="form-group">
                                                <h4>Export Report</h4>


                                                <a target="_blank" data-bind="attr: { href: Link1, title1: 'PDF' }">PDF</a>
                                                <a target="_blank" data-bind="attr: { href: Link2, title2: 'Excel' }">Excel</a>
                                                <a target="_blank" data-bind="attr: { href: Link3, title3: 'Word' }">Word</a>

                                            </div>
                                            <br/>
                                            @*<div class="panel-body">*@
                                                <div class="form-group table-responsive">
                                                    <table class="table table-striped table-bordered" id="datatable-default">
                                                        <thead class="headcolor">
                                                            <tr>
                                                                <th class="center">Sl. No.</th>
                                                                <th>A/C Group</th>
                                                                <th>A/C Sub Group</th>
                                                                <th>A/C Head Group</th>
                                                                <th>A/C Head Sub Group</th>
                                                                <th>Ledger Account</th>
                                                                <th>Contra A/C</th>
                                                                <th>Voucher No.</th>
                                                                <th>Date</th>
                                                                <th class="center">Debit (BDT)</th>
                                                                <th class="center">Credit (BDT)</th>


                                                            </tr>
                                                        </thead>
                                                        <tbody data-bind="foreach:reportLedgerData">

                                                            <tr>
                                                                <td data-bind="text: $index() + 1"></td>
                                                                <td data-bind="text: AccGroup"></td>
                                                                <td data-bind="text: AccSubGroup"></td>
                                                                <td data-bind="text: AccHeadGroup"></td>
                                                                <td data-bind="text: AccHeadSubGroup"></td>
                                                                <td data-bind="text: LedgerAccHeadName"></td>
                                                                <td data-bind="text: AccountHeadName"></td>
                                                                <td data-bind="text: VoucherNo"></td>
                                                                <td data-bind="text: moment(VoucherDate).format('DD/MMM/YYYY')"></td>
                                                                <td data-bind="text: numeral(Debit).format('(0,0.00')" class="right"></td>
                                                                <td data-bind="text: numeral(Credit).format('(0,0.00')" class="right"></td>

                                                                @*ledger.AccGroup = dr["AccGroup"].ToString();
                                            ledger.AccHeadGroup = dr["AccHeadGroup"].ToString();
                                            ledger.AccHeadSubGroup = dr["AccHeadSubGroup"].ToString();
                                            ledger.AccountHeadCode = dr["AccountHeadCode"].ToString();
                                            ledger.AccountHeadName = dr["AccountHeadName"].ToString();
                                            ledger.AccSubGroup = dr["AccSubGroup"].ToString();
                                            ledger.LedgerAccHeadCode = dr["LedgerAccHeadCode"].ToString();*@

                                                            </tr>
                                                        </tbody>



                                                    </table>

                                                </div>

                                            @*</div>*@
                                        </div>

                                    </div>
                                </div>
                            </div>
                                <!-- loading Modal -->
                                <div id="loadingModal" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="loading-modal-content">

                                            <div class="loading" align="center">
                                                <img src="~/Images/loadingTwo.gif" style="max-width:100%;" />
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <!-- loading modal ends-->

                                </div>

                        </div>
                    </div>

                </div>
            </fieldset>
        </div>
    </div>

</section>


