@{
    ViewBag.Title = "Income Statement";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    var CompanyId = ViewBag.CompanyId;
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var Companies = jss.Serialize(ViewBag.Companies);
    var count = ViewBag.CompanyCount;
}

<link href="~/Content/customassets/css/CardiacStyle.css" rel="stylesheet" />
<script src="~/Areas/Accounts/Scripts/ReportAccount/income_statement.js"></script>
<link href="~/Content/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-multiselect.js"></script>

<style>
    /*.Id {
        display: none !important;
    }*/
    .form-control {
        width: 100% !important;
    }

    .btnLarge {
        width: 140px !important;
    }

    .input-group-addon {
        padding: 0 5px;
    }

    .rm {
        background-color: #F8F8F8;
        border-radius: 0px 0px 0px 0px !important;
    }
</style>

<script>
    maxDate = '@ViewBag.MaxDate';
    maxDateText = '@ViewBag.MaxDateText';

    var userCompanyId = parseInt(@CompanyId);
    var Companies = JSON.parse('@Html.Raw(Companies)');

</script>

<section class="rm">
    <div class="panel-body">
        <div class="container-fluid">
            <div id="rptIncomeStatementNotesDiv" class="row ">
                <div class="col-sm-12">
                    <div class="container">
                        <div class="row">
                            <div class="form-group row row_design">
                                @if (count > 1)
                                {
                                    <label class="control-label col-sm-2 col-sm-offset-1">Company</label>
                                    <div class="col-sm-2">
                                        <select multiple="multiple" id="companySelection" class="form-control" data-bind="options: CompanyList, optionsText: 'Name', optionsValue: 'Id', selectedOptions: CompanyProfileIds, multiselect: { includeSelectAllOption: true }"></select>
                                    </div>
                                }
                            </div>
                        </div>
                        <br />
                        <div class="form-group row row_design">

                            <label class="control-label col-sm-2 col-sm-offset-1">From Date :</label>
                            <div class="col-sm-2">
                                <input type="date" data-bind="value:FromDate, valueUpdate: 'keyup'" class="form-control">
                            </div>
                            <label class="control-label col-sm-2">To Date :</label>
                            <div class="col-sm-2">
                                <input type="date" data-bind="value:ToDate, valueUpdate: 'keyup'" class="form-control">
                            </div>
                            <div class="col-sm-1">
                                <button type="submit" data-bind="click:getIncomeStatement" class="btn btn-success">Search</button>
                            </div>
                        </div>
                        <br />
                        <div class="form-group col-sm-12 table-responsive">

                            <div class="PrintReport" align="right">
                                <h4>Export Report</h4>
                                <div class="form-group">

                                    <a target="_blank" data-bind="attr: { href: Link1, title1: 'PDF' }">PDF</a>
                                    <a data-bind="attr: { href: Link2, title2: 'Excel' }">Excel</a>
                                    <a data-bind="attr: { href: Link3, title3: 'Word' }">Word</a>

                                </div>
                                <br />
                                <table class="table table-striped table-bordered" id="datatable-default">
                                    <thead class="headcolor">
                                        <tr>
                                            @*<th class="center">Note Id</th>*@
                                            <th class="center">Particulars</th>
                                            <th class="center">Current Expense (BDT)</th>
                                            <th class="center">Previous Expense (BDT)</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:IncomeStatementNotesData">
                                        <tr>
                                            @*<td data-bind="text: Id"></td>*@
                                            <td data-bind="text: NoteName"></td>
                                            @*<td data-bind="text: AccountHeadName"></td>*@
                                            @*<td data-bind="text: numeral(CurrentExpense).format('(0,0.00')"></td>
                                                <td data-bind="text: numeral(PreviousExpense).format('(0,0.00')"></td>*@
                                            <td data-bind="text: CurrentExpense"></td>
                                            <td data-bind="text: PreviousExpense"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- loading Modal -->
    <div id="loadingModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="loading-modal-content">

                <div class="loading" align="center">
                    <img src="~/Images/loadingTwo.gif" style="max-width:100%;" />
                </div>

            </div>

        </div>
    </div>
    <!-- loading modal ends-->
</section>