
@{
    ViewBag.Title = "Dispose Log Report";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/KoCustomDateTimePicker.js"></script>
<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />
<script src="~/Areas/FAMS/Scripts/Disposal/disposal.js"></script>

<style>
    .form-control {
        width: 100% !important;
    }

    .btnLarge {
        width: 140px !important;
    }

    .input-group-addon {
        padding: 0 5px;
    }

    .rm {
        background-color: #F8F8F8;
        border-radius: 0px 0px 0px 0px !important;
    }
</style>

<section class="rm">
    <div class="panel-body">
        <div class="container-fluid">
            <div class="row">

                <!---vvvvvvv----Body Main Starts here---vvvvvv----->

                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12">


                            <div id="DisposalDiv">
                                <div class="panel bodycontent">
                                    <div class="body-main-padding">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <br />
                                                <div class="form-group row row_design">
                                                    <label class="control-label col-sm-2 col-sm-offset-1" for="FromDate">Report From :</label>
                                                    <div class="col-sm-3" style="padding-left: 15px; padding-right: 15px;" data-bind="validationElement: FromDate">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" id="FromDate" data-bind="datepicker:FromDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate:'keyup', event:{ change:getDisposeLogs}">

                                                            <span class="help-block" style="display: none;"></span>
                                                            <div class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <label class="control-label col-sm-2" for="EndDate">Report To :</label>
                                                    <div class="col-sm-3" style="padding-left: 15px; padding-right: 15px;" data-bind="validationElement: EndDate">
                                                        <div class="input-group">
                                                            <input type="text" id="endDate" data-bind="datepicker:EndDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate: 'keyup', event:{ change:getDisposeLogs}" class="form-control" />
                                                            <span class="help-block" style="display: none;"></span>
                                                            <div class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>

                                                <div class="form-group row row_design">
                                                    <label class="control-label col-sm-2 col-sm-offset-1" for="Level">Category Level :</label>
                                                    <div class="col-sm-3">
                                                        <select data-bind="options: Levels, value: Level,optionsValue:'Id',optionsText: 'Name', optionsCaption: '...Select Level...', event:{ change: getAllCategories}, valueUpdate: 'keyup'"
                                                                class="form-control"></select>

                                                    </div>
                                                    <label class="control-label col-sm-2">Category :</label>
                                                    <div class="col-sm-3">
                                                        <select id="cat" data-bind="options: Categories, value: Id, optionsCaption:'      <--Category-->', optionsValue:'Id',optionsText: 'CategoryName', event:{ change: getDisposeLogs}, valueUpdate: 'keyup'"
                                                                class="form-control"></select>
                                                    </div>

                                                </div>
                                                <br />
                                                @*<div class="form-group row row_design">
                                                    <div class="col-sm-2 col-sm-offset-10">
                                                        <button type="submit" data-bind="click:getDisposeLogs" class="btn btn-deepgreen">Search</button>
                                                    </div>
                                                </div>

                                                <br />*@
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                        <div class="form-group table-responsive">
                                            <div class="col-sm-12">

                                                <div class="PrintReport" align="right">


                                                    <br />
                                                    <div class="form-group">
                                                        <h4 class="export-margin">Export Report</h4>
                                                        <a target="_blank" data-bind="attr: { href: Link1, title1: 'PDF' }">PDF</a>
                                                        <a target="_blank" data-bind="attr: { href: Link2, title2: 'Excel' }">Excel</a>
                                                        <a target="_blank" data-bind="attr: { href: Link3, title3: 'Word' }">Word</a>

                                                    </div>
                                                    <br/>
                                                    <table class="table table-striped table-bordered">
                                                        <thead class="headcolor">
                                                            <tr class="thead ">
                                                                <th> Asset </th>
                                                                <th> Base Value </th>
                                                                <th> Accumulated Depreciation</th>
                                                                <th> Resale Value </th>
                                                                <th> Buyer </th>
                                                                <th> Disposed Value </th>
                                                                <th> Profit </th>
                                                                <th> Loss </th>
                                                                <th> Dispose Date </th>
                                                            </tr>
                                                        </thead>

                                                        <tbody data-bind="foreach:DisposalLogs">
                                                            <tr>
                                                                <td class="center" data-bind="text: AssetCode"></td>
                                                                <td class="center" data-bind="numericText: BaseValue, precision: 3"></td>
                                                                <td class="center" data-bind="numericText: AccumulatedDepreciation, precision: 3"></td>
                                                                <td class="center" data-bind="numericText: ResaleValue, precision: 3"></td>
                                                                <td class="center" data-bind="text: ResaleTo"></td>
                                                                <td class="center" data-bind="numericText: DisposedValue, precision: 3"></td>
                                                                <td class="center" data-bind="numericText: GainOfDisposal, precision: 3"></td>
                                                                <td class="center" data-bind="numericText: LossOfDisposal, precision: 3"></td>
                                                                <td class="center" data-bind="text: moment(DisposalDate).format('DD/MM/YYYY')"></td>

                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div id="successModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog modal-sm">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <h4 class="modal-title">Response</h4>
                                                </div>
                                                <div class="modal-body" align="center">
                                                    <p id="successModalText"></p>
                                                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                                                </div>
                                                <div class="modal-footer">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        @*</section>*@
                        <!---^^^^^^^----Body Main Ends here----^^^^^^^---->
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


