<script src="~/Areas/HRM/Scripts/AppScripts/officeposition.js"></script>
<script src="~/Scripts/AppScripts/validate.js"></script>
@{
    ViewBag.Title = "Office Position Information";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <div id="jqControls"></div>
</div>
