

<script src="~/Scripts/AppScripts/validate.js"></script>
@*<script src="~/Areas/Membership/Scripts/Settings/AreaEntry.js"></script>*@
<script src="~/Areas/Membership/Scripts/Settings/AreaEntryNew.js"></script>
@{
    ViewBag.Title = "Area Entry";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}



<div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <div id="jqControls"></div>
</div>


