
@{
    ViewBag.Title = "Transfer Reports";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/KoCustomDateTimePicker.js"></script>
<script src="~/Areas/FAMS/Scripts/TransferReport/Report.js"></script>
<link href="~/Content/customassets/css/Cart.css" rel="stylesheet" />


<style>
    .form-control {
        width: 100% !important;
        padding: 2px 3px;
    }

    .btnLarge {
        width: 140px !important;
    }

    .input-group-addon {
        padding: 0 5px;
    }

    .rm {
        background-color: #F8F8F8;
        border-radius: 0px 0px 0px 0px !important;
    }
</style>
<section class="rm">
    <div class="panel-body">
        <div class="container-fluid">
            <fieldset>
                <!---vvvvvvv----Body Main Starts here---vvvvvv----->
                <div id="AssetsDiv" class="row ">
                    <div class="col-sm-12">
                        <div class="panel bodycontent">
                            <br />
                            <div class="body-main-padding">
                                <div class="form-group row row_design">
                                    <div class="col-sm-6">
                                        <div class="form-group row row_design">
                                            <label class="control-label col-sm-5 col-sm-offset-1">From Date :</label>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" data-bind="datepicker:FromDate, datepickerOptions: {format: 'DD/MM/YYYY'},  valueUpdate: 'keyup'" class="form-control">
                                                    <span class="help-block" style="display: none;"></span>
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row row_design">
                                            <label class="control-label col-sm-5 col-sm-offset-1">Level</label>
                                            <div class="col-sm-6" data-bind="validationElement: FromLevelControl">
                                                <select data-bind="options: Levels, value: FromLevelControl,optionsValue:'Id',optionsText: 'Name', optionsCaption: '...Select One...',  valueUpdate: 'keyup'" class="form-control"></select>
                                            </div>
                                            <label class="control-label col-sm-5 col-sm-offset-1" for="ParentID">Locations</label>
                                            <div class="col-sm-6">
                                                <select data-bind="options: Offices,   value: SrcOfficeID,optionsValue:'Id',optionsText: 'LocationTitle',optionsCaption: '...Select Office...', event:{ change: getSrcBuildings}, valueUpdate: 'keyup', visible:showsrcoffice" class="form-control"></select>
                                                <select data-bind="options: Buildings, value: SrcBuildingID,optionsValue:'Id',optionsText: 'LocationTitle',optionsCaption: '...Select Building...', event:{ change: getSrcFloors}, valueUpdate: 'keyup',visible:showsrcbuilding" class="form-control"></select>
                                                <select data-bind="options: Floors,    value: SrcFloorID,optionsValue:'Id',optionsText: 'LocationTitle',optionsCaption: '...Select Floor...', event:{ change: getSrcRooms}, valueUpdate: 'keyup',visible:showsrcfloor" class="form-control"></select>
                                                <select data-bind="options: Rooms,     value: SrcRoomID,optionsValue:'Id',optionsText: 'LocationTitle',optionsCaption: '...Select Room...', event:{ change: getSrcRooms}, valueUpdate: 'keyup',visible:showsrcroom" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group row row_design">
                                            <label class="control-label col-sm-5 col-sm-offset-1">To Date :</label>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" data-bind="datepicker:ToDate, datepickerOptions: {format: 'DD/MM/YYYY'}, valueUpdate: 'keyup', event:{ change: setUrl}" class="form-control">
                                                    <span class="help-block" style="display: none;"></span>
                                                    <div class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row row_design">
                                            <label class="control-label col-sm-5 col-sm-offset-1">Level</label>
                                            <div class="col-sm-6" data-bind="validationElement: DestLevelControl">
                                                <select data-bind="options: Levels, value: DestLevelControl,optionsValue:'Id',optionsText: 'Name', optionsCaption: '...Select One...',  valueUpdate: 'keyup'" class="form-control"></select>
                                            </div>
                                            <label class="control-label col-sm-5 col-sm-offset-1">Locations</label>
                                            <div class="col-sm-6">
                                                <select data-bind="options: Offices,   value: DestOfficeID,optionsValue:'Id',optionsText: 'LocationTitle',optionsCaption: '...Select Office...', event:{ change: getDestBuildings}, valueUpdate: 'keyup', visible:showdestoffice" class="form-control"></select>
                                                <select data-bind="options: DestBuildings, value: DestBuildingID,optionsValue:'Id',optionsText: 'LocationTitle',optionsCaption: '...Select Building...', event:{ change: getDestFloors}, valueUpdate: 'keyup',visible:showdestbuilding" class="form-control"></select>
                                                <select data-bind="options: DestFloors,    value: DestFloorID,optionsValue:'Id',optionsText: 'LocationTitle',optionsCaption: '...Select Floor...', event:{ change: getDestRooms}, valueUpdate: 'keyup',visible:showdestfloor" class="form-control"></select>
                                                <select data-bind="options: DestRooms,     value: DestRoomID,optionsValue:'Id',optionsText: 'LocationTitle',optionsCaption: '...Select Room...', event:{ change: getDestRooms}, valueUpdate: 'keyup',visible:showdestroom" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group row row_design">
                                    <div class="col-sm-2 col-sm-offset-9" style="text-align:left">
                                        <button type="button" class="btn btn-success" data-bind="click:getTransferLog" data-toggle="modal" >Show Data</button>

                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                        <div class="form-group table-responsive">
                            <div class="PrintReport" align="right">
                                <br />
                                <div class="form-group">
                                    <h4 class="export-margin">Export Report</h4>

                                    <a target="_blank" data-bind="attr: { href: Link1, title1: 'PDF' }">PDF</a>
                                    <a target="_blank" data-bind="attr: { href: Link2, title2: 'Excel' }">Excel</a>
                                    <a target="_blank" data-bind="attr: { href: Link3, title3: 'Word' }">Word</a>

                                </div>
                                <table class="table table-striped table-bordered">
                                    <thead class="headcolor">
                                        <tr class="thead ">
                                            <th> Name </th>
                                            <th> Code </th>
                                            <th> Category </th>
                                            <th> SubCategory </th>
                                            <th> Source </th>
                                            <th> Destination </th>
                                            <th> Transfer Date </th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:Logs">
                                        <tr>
                                            <td class="center" data-bind="text: AssetName"></td>
                                            <td class="center" data-bind="text: AssetCode"></td>
                                            <td class="center" data-bind="text: ParentName"></td>
                                            <td class="center" data-bind="text: CategoryName"></td>
                                            <td class="center" data-bind="text: SourceDetails"></td>
                                            <td class="center" data-bind="text: DestinationDetails"></td>
                                            <td class="center" data-bind="text: moment(TransferDate).format('DD/MM/YYYY')"></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                       
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</section>

