@{
    ViewBag.Title = "Cheque Register Information";
}
<script src="~/Scripts/AppScripts/validate.js"></script>
<script src="~/Areas/Accounts/Scripts/Bank/chequeRegister.js"></script>

<h2>Cheque Register Information</h2>

<div>
    <table id="jqGrid"></table>
    <div id="jqControls"></div>
</div>
