<script src="~/Areas/HRM/Scripts/AppScripts/design.js"></script>
@{
    ViewBag.Title = "Designation Information";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<h2>@ViewBag.Title</h2>
@*<div class="alert alert-warning fade in">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<strong>Attention!</strong>//Designation definition to be added
   
</div>*@
<div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <div id="jqControls"></div>
</div>
