
<script src="~/Areas/HRM/Scripts/AppScripts/employeeAttendance.js"></script>

@{
    ViewBag.Title = "Employee Attendance";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}


<h2>Employee Attendance</h2>



<div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <div id="jqControls"></div>
</div>