<script src="~/Areas/HRM/Scripts/AppScripts/kpigroup.js"></script>
<script src="~/Scripts/AppScripts/validate.js"></script>
@{
    ViewBag.Title = "KPI Group Information";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}
@*<h2>@ViewBag.Title</h2>*@
<div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <div id="jqControls"></div>
</div>

