<script src="~/Scripts/AppScripts/validate.js"></script>
<script src="~/Areas/HRM/Scripts/SalaryGrade/field.js"></script>
@{
    ViewBag.Title = "Field Information";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

<h2>Field Information</h2>

<div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <div id="jqControls"></div>
</div>