<script src="~/Areas/HRM/Scripts/AppScripts/leave_type.js"></script>
<script src="~/Scripts/AppScripts/validate.js"></script>
@{
    ViewBag.Title = "Leave Type Information";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}

@*<div class="alert alert-warning fade in">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Attention!</strong>This is the immediate descendant of Module group.
    It contains subgroup of Modules
</div>*@
<div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <div id="jqControls"></div>
</div>