<script src="~/Scripts/AppScripts/validate.js"></script>
<script src="~/Areas/HRM/Scripts/Appraisal/appraisal.js"></script>
@{
    ViewBag.Title = "Appraisal Information";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}



<div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <div id="jqControls"></div>
</div>