<script src="~/Areas/HRM/Scripts/EmployeeEvaluation/EvaluationWeight.js"></script>
@{
    ViewBag.Title = "EvaluationWeightSetup";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}
<div id="evaluationWeight">
    <fieldset style="border: double">
        <form class="form-horizontal" role="form" style="padding: 20px">
           
            <div class="form-group row row_design">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <label for="SelfWeight">Self Weight<span class="required">*</span></label>
                </div>
                <div class="col-sm-2" data-bind="validationElement:SelfWeight">
                    <input class="form-control" type="text" data-bind="value:SelfWeight,valueUpdate: 'keyup'" />
                </div>
                
            </div>
            <div class="form-group row row_design">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <label for="Supervisor1Weight">Supervisor One Weight<span class="required">*</span></label>
                </div>
                <div class="col-sm-2" data-bind="validationElement:Supervisor1Weight">
                    <input class="form-control" type="text" data-bind="value:Supervisor1Weight,valueUpdate: 'keyup'" />
                </div>   
            </div>
            <div class="form-group row row_design">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <label for="Supervisor2Weight">Supervisor Two Weight<span class="required">*</span></label>
                </div>
                <div class="col-sm-2" data-bind="validationElement:Supervisor2Weight">
                    <input class="form-control" type="text" data-bind="value:Supervisor2Weight,valueUpdate: 'keyup'" />
                </div>
            </div>
           
            <span data-bind="validationMessage:TotalWeight" class="validationMessage" style="color: red; font-weight: bold;"></span>
            <div class="form-group">
                <div class="col-sm-11" align="right">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Save</button>
                </div>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-sm">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Confirmation</h4>
                            </div>
                            <div class="modal-body" align="center">
                                <p>Do you want to save this Setup?</p>
                                <button type="submit" class="btn btn-success" data-bind="click:Submit" data-dismiss="modal">Yes</button>
                                <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </form>
    </fieldset>
</div>