<script src="~/Areas/HRM/Scripts/AppScripts/inventory.js"></script>
@{
    ViewBag.Title = "Module Information";
}

<h2>@ViewBag.Title</h2>
<div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <div id="jqControls"></div>
</div> 
