<script src="~/Areas/HRM/Scripts/AppScripts/organogram_test.js"></script>
<script src="~/Scripts/AppScripts/validate.js"></script>
@{
    ViewBag.Title = "Test Organogram";
}

<h2>Test Organogram</h2>

<div>
    <table id="tree"></table>
    <div id="pager"></div>
</div>

