<script src="~/Scripts/AppScripts/validate.js"></script>
<script src="~/Areas/HRM/Scripts/Training/training.js"></script>

@{
    ViewBag.Title = "Training Information";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
}
<div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
    <div id="jqControls"></div>
</div>
